php_flag register_globals on
php_value session.gc_maxlifetime 86400
php_value session.cookie_lifetime 86400
php_value memory_limit 128M
php_value max_execution_time 10000
php_value max_input_time 10000